
  <div id="newAccount">
    <div class="center">
       <div class="col login rounded shadow-sm p-3 mb-5 bg-white rounded">
      <h4 class='text-center ' >Create Account</h4>
      <div class="newUser">
        <div class="mb-3">
            <div class="form-group w-75">
            <label for="username">Username:</label>
            <input type="text" class="form-control " id='username'>
          </div>
          </div>
          <div class="mb-3">
            <div class="form-group w-75">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
          </div>
          </div>
          <div class="mb-3">
            <div class="form-group w-75">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id='password'>
          </div>
        </div>
    
    <button id="send-data" class="btn btn-primary">Create User</button>
  </div>


      </div>

    </div>
   
    
 
  
  
  {{!-- <div class="newUser">
  <label for="username">Username:
    <input id='username' type="text" width="100px" height="22px"></input>
  </label>
    <label for="email">email:
    <input id='email' type="email" width="100px" height="22px"></input>
  </label>
    <label for="password">password:
    <input id='password' type="text" width="100px" height="22px"></input>
  </label>

  <button id="send-data">Create User</button> --}}
   <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script type="text/javascript" src='./js/javascript.js'></script>
   <link rel="stylesheet" href="css/style.css">

{{!--   

  <form>
    <div class="form-group">
    <label for="exampleInputEmail1">Username</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> --}}