<div class="card" style="width: 40rem;">
  <img class="card-img-top " src="/images/Atlanta.jpeg" alt="Card image cap">
  <div class="card-body">
    <h1 id="recent">Recent Searches</h1>
    <ol>
        <ul>Miami</ul>
        <ul>Orlando</ul>
        <ul>Los Angeles</ul>
        <ul>New York</ul>
    </ol>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>