<div class="card mb-3">
  <img src="/images/Atlanta.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h3 class="card-title">Atlanta, Georgia</h3>

    </div>
    <p class="card-text">

      <div class="card-group">
  <div class="card">
    <img src="/images/Atlanta.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Property 1</h5>
      <p class="card-text">
        Address:
        <br>
        City:
        <br>
        Zip Code:
        <br>
        Listing Price:
        <br>
        SF:
        <br>
        Beds:
        <br>
        Baths:
        <br>
        AirBnb ROI:
        <br>
        Pool:
        <br>
        Days on market:
      </p>
      
    </div>
  </div>
  <div class="card">
    <img src="/images/Atlanta.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Property 2</h5>
      <p class="card-text">
        Address:
        <br>
        City:
        <br>
        Zip Code:
        <br>
        Listing Price:
        <br>
        SF:
        <br>
        Beds:
        <br>
        Baths:
        <br>
        AirBnb ROI:
        <br>
        Pool:
        <br>
        Days on market:
      </p>
    </div>
  </div>

  <div class="card">
    <img src="/images/Atlanta.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Property 3</h5>
       <p class="card-text">
        Address:
        <br>
        City:
        <br>
        Zip Code:
        <br>
        Listing Price:
        <br>
        SF:
        <br>
        Beds:
        <br>
        Baths:
        <br>
        AirBnb ROI:
        <br>
        Pool:
        <br>
        Days on market:
      </p>
      
    </div>
  </div>

  
</div>
     <p class="card-text">

      <div class="card-group">
  <div class="card">
    <img src="/images/Atlanta.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Property 4</h5>
      <p class="card-text">
        Address:
        <br>
        City:
        <br>
        Zip Code:
        <br>
        Listing Price:
        <br>
        SF:
        <br>
        Beds:
        <br>
        Baths:
        <br>
        AirBnb ROI:
        <br>
        Pool:
        <br>
        Days on market:
      </p>
      
    </div>
  </div>
  <div class="card">
    <img src="/images/Atlanta.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Property 5</h5>
      <p class="card-text">
        Address:
        <br>
        City:
        <br>
        Zip Code:
        <br>
        Listing Price:
        <br>
        SF:
        <br>
        Beds:
        <br>
        Baths:
        <br>
        AirBnb ROI:
        <br>
        Pool:
        <br>
        Days on market:
      </p>
    </div>
  </div>




