
  <label for="username">Username:
  <input id='username' type="text" width="100px" height="22px"></input>
</label>
  <label for="email">email:
  <input id='email' type="email" width="100px" height="22px"></input>
</label>
  <label for="password">password:
  <input id='password' type="text" width="100px" height="22px"></input>
</label>

  <button id="send-data">Create User</button>
<br>
  <button id="login" width="500px" height="100px" id="login">Login</button>
  <button id="logout" width="500px" height="50px" id="login">Logout</button>



  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script type="text/javascript" src='./js/javascript.js'></script>
