

<div class="container">
  <div class="row ">

    <div class="col login rounded shadow-sm p-3 mb-5 bg-white rounded">
      <h4 class='text-center' >Sign In</h4>
      <div class="loginDiv">
      <div class="mb-3">
      <div class="form-group w-75">
      <label for="username">Username:</label>
      <input type="text" class="form-control " id='username'>
    </div>
    </div>
    <div class="mb-3">
      <div class="form-group w-75">
      <label for="email">Email address:</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
    </div>
    </div>
    <div class="mb-3">
      <div class="form-group w-75">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id='password'>
    </div>
    </div>
    <button id="login" class="hoverBtn btn btn-primary selectedBtn ">Login</button>

      </div>
    </div>
    <div class="col">
      <img src="images/animation1.png" id="homeImg" class="img-fluid loginImg" alt="logo" />
    </div>
    
</div>
  </div>
  
</div>
  
    



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script type="text/javascript" src='./js/login.js'></script>
  
  
