 <ul class="nav justify-content-end  nav-pills">
          <li class="nav-item">
            <a class="nav-link buttonPurple text-dark"  id="logout" href="/logout">Log out</a>
          </li>
          </ul>