#logo{
  padding-bottom: 10px;

}
#homeImg {
  margin-top: 40px;
  max-width: 700px;
  height: auto;
}

#login:hover {
  background-color: rgb(40, 48, 130)!important;
}
.topBtn {
  margin: 25px 30px 0px 0px;
  background-color: rgb(75, 85, 192)!important;
  color: white!important;
}

.topBtn:hover {
  background-color: rgb(40, 48, 130)!important;
}
.headerDiv {
  margin-bottom: 60px;
}
.headerDiv img {
  float: left;
  width: 100px;
  height: 100px;
  margin-left: 60px;

}
.headerText h1 {
  position: relative;
  top: 18px;
  left: 10px;
  font-family: 'Archivo Black', sans-serif;
}

h2 {
  margin: 25px 0px 0px 350px;
}

h4 {
  margin: 35px 0pc 20px 0px;
}
.login {
  background-color: rgb(231, 242, 255)!important;
  padding-top: 10px;
  justify-content: center;
  
}
#recent {
  font-size: 30px;
}

ul {
  padding: 0px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: rgb(75, 85, 192)!important;
  color: white!important;
}
label {
  font-weight: bold;
}

.loginDiv {
  margin-left: 120px;
  padding-bottom: 50px;
}

#newAccount { 
  width: 600px;
 margin-left: 800px;
 padding-left: 40px;

}

.newUser {
  padding: 0px 0px 60px 120px;
}

.centerInput {
  margin: auto;
}