.wrapper {
  display: flex;
  min-height: 100vh;
}

#sidebar {
  padding: 50px 0px 0px 20px;
  font-size: 18px;
  min-width: 250px;
  width: 200px;
  top: 0;
  left: 0;
  height: 100vh;
  background: #6d85e6;
  color: #fff;
}

#sidebar a {
  color: white;
  text-decoration: none;
}

#content {
  flex-grow: 1;
  padding: 20px 50px 50px 70px;
  margin: 80px;
  color: rgb(58, 57, 57);
  text-align: center;
  margin: 20px;
}
h1 {
  font-weight: bold;
 
}
.buttonPurple {
 
  margin: 10px 10px 0px 0px;
  background-color: rgb(75, 85, 192)!important;
  color: white!important;
}

.headerDiv {
  margin-bottom: 60px;
}
.headerDiv img {
  float: left;
  width: 100px;
  height: 100px;
  margin-left: 60px;

}
.headerText h1 {
  position: relative;
  top: 18px;
  left: 10px;
  font-family: 'Archivo Black', sans-serif;
}

h2 {
  margin: 25px 0px 0px 350px;
}

h4 {
  margin-bottom: 10px;
}
.login {
  background-color: rgb(231, 242, 255)!important;
  padding-top: 10px;
  justify-content: center;
  
}
#recent {
  font-size: 30px;
}

ul {
  padding: 0px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: rgb(75, 85, 192)!important;
  color: white!important;
}
label {
  font-weight: bold;
}

.loginDiv {
  margin:0 auto;
}
