#logo {
  padding-bottom: 10px;
}
#homeImg {
  margin-top: 65px;
  max-width: 700px;
  height: auto;
}

.topBtn:hover {
  background-color: rgb(40, 48, 130) !important;
}
#login:hover {
  background-color: rgb(40, 48, 130) !important;
}
#send-data:hover {
  background-color: rgb(40, 48, 130) !important;
}
.topBtn {
  margin: 25px 30px 0px 0px;
  background-color: rgb(75, 85, 192) !important;
  color: white !important;
}

.headerDiv img {
  float: left;
  width: 100px;
  height: 100px;
  margin-left: 60px;
}
.headerText h1 {
  position: relative;
  top: 18px;
  left: 30px;
  font-family: "Archivo Black", sans-serif;
}

h2 {
  margin: 25px 0px 0px 360px;
  font-family: "Raleway", sans-serif;
}

h4 {
  margin: 35px 0pc 20px 0px;
}
.login {
  background-color: rgb(231, 242, 255) !important;
  padding-top: 10px;
  margin-top: 60px;
  justify-content: center;
}
#recent {
  font-size: 30px;
}

ul {
  padding: 0px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: rgb(75, 85, 192) !important;
  color: white !important;
}
label {
  font-weight: bold;
}

.loginDiv {
  margin-left: 110px;
  padding-bottom: 50px;
}

#newAccount {
  width: 600px;
  margin: auto;
  padding-left: 40px;
}

.newUser {
  padding: 0px 0px 60px 120px;
}

.centerInput {
  margin: auto;
}

.headerText {
  margin-bottom: 50px;
}

.paddingBtn {
  padding: 12px;
}
.selectedBtn:focus,.selectedBtn:active {
  outline: none!important;
  box-shadow: none!important;
}